<!-- workout_selection.html -->
{% extends "base.html" %}
{% block title %}Workout Selection - Fitness Pro{% endblock %}
{% block content %}
<div class="text-center">
    <h2>Select Your Workout Plan</h2>
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('cardio_training') }}" class="btn btn-success w-100">Cardio Training</a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('weight_training') }}" class="btn btn-warning w-100">Weight Training</a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('strength_training') }}" class="btn btn-danger w-100">Strength Training</a>
        </div>
    </div>
</div>
{% endblock %}